header {
  position: fixed;
  display: block;
}

h1{
    color: orange;
}

.sample {
  text-align:center;
  line-height:0.95em;
  font-weight:bold;
  color: #03A9F4;
  text-shadow: 
    0.04em 0.02em 0 #B0BEC5, 
    0.08em 0.05em 0 rgba(0, 0, 0, 0.6);
}

.sample2 {
  text-align:center;
  line-height:0.95em;
  font-weight:bold;
  color: #07f403;
  text-shadow: 
    0.04em 0.02em 0 #B0BEC5, 
    0.08em 0.05em 0 rgba(0, 0, 0, 0.6);
}

#score-container {
  border: 1px solid black;
  height: 50px;
}
