<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport"content="width=320,height=480,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes" />
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
    <title>おめでとう</title>
</head>
<body>
    <div style="text-align:center">
        <h1>おめでとう！！</h1>
        <h2>これであなたもマップをつかいこなせるね！</h2>
        <image src="{% static 'image/happy.png' %}">
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <input type="image" src="{% static 'image/back.png' %}" name="start_button">
        </form>
    </div>
</body>
</html>