<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../static/css/gameex.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <title>ゲーム目次</title>
</head>

<body>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <input type="image" src="../../static/image/logo.png" width="400px" height="200px">
                </form>
            </h1>
            <div class="box">
            </div>
        </div>
    </header>
    
    <div style="text-align:center">
        <h1>クイズゲーム</h1>
        <h2>ゲーム説明</h2>
        <img src="../../static/image/game1-1.png" width="100%" class="img1" border="1">
        <img src="../../static/image/game1-2.png" width="100%" class="img1" border="1">

        <form action="{% url 'move_to_quiz1' %}" method="post" id="quiz">
            {% csrf_token %}
            <input type="image" src="{% static 'image/start_button.png' %}" width="60%" name="start_button">
        </form>
    </div>

    <footer class="footer">
    </footer>
</body>



</html>