<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Map game</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="../../static/css/map.css" />
    <script type="module" src="../../static/js/map.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiyZcHGi49E5376vQTYRLrifXChcw1z4Q&callback=initMap&v=weekly"
    defer
    ></script>

  </body>
</html>