<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../../static/css/game3.css">
<title>ゲーム3</title>
</head>

<body>
  <header class="header">
    <div class="header__inner">
        <h1 class="header__title">
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                <input type="image" src="../../static/image/logo.png" width="400px" height="200px">
            </form>
        </h1>

        <div class="box">

        </div>
    </div>
</header>
  <div style="text-align:center">
    <div class="map">
      <h1 class="title">マップゲーム</h1>
      <h2 class="sb">マップを使ってみよう！！</h2>
      <h2>ゲーム説明</h2>
      <img src="../../static/image/game3-1.png" width="100%" class="img1" border="1">
      <img src="../../static/image/game3-2.png" width="100%" class="img1" border="1">
      <img src="../../static/image/game3-3.png" width="100%" class="img1" border="1">
      <img src="../../static/image/game3-4.png" width="100%" class="img1" border="1">
      <p>&nbsp;</p>
      <button onclick="location.href='https://www.google.co.jp/maps/?hl=ja'" class="btn">Google Map</button>
      <p>&nbsp;</p>
      <div class="ck">
        <input type="checkbox" name="a" id="ck1" style="transform:scale(5.0);"> 赤羽駅
        <br>
        <input type="checkbox" name="a" id="ck2" style="transform:scale(5.0);"> INIAD
        <br>
        <input type="checkbox" name="a" id="ck3" style="transform:scale(5.0);"> イトーヨーカドー
        <br>
        <input type="checkbox" name="a" id="ck4" style="transform:scale(5.0);"> 公園
        <br>
        <input type="checkbox" name="a" id="ck5" style="transform:scale(5.0);"> ラーメン屋
      </div>
      <p>&nbsp;</p>
      <form action="{% url 'move_to_g3result' %}" method="post">
        {% csrf_token %}
        <input type="image" src="{% static 'image/next1.png' %}" name="start_button" width="70%">
      </form>
    </div>
  </div>
  <footer class="footer">
  </footer>
</body>
</html>