<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
</head>

<script>

	let Q_mondai = ["こいずみきょうこ", "とうきょうたわー"]
	let Q = ["こいす゛みきよ゛うこ", "とうきよ゛うたわー"] //判定用

	let Q_length = 2;
	let Q_No = 0;

	let Q_i = 0;//回答初期値・現在単語どこまで合っているか判定している文字番号
	let Q_l = Q[Q_No].length;//計算用の文字の長さ

	var timer;
	var startTime; // 開始時刻
	var holdTime = 0;//終了時間




window.addEventListener("keydown", push_Keydown);


function start(){
	startTime = Date.now();
}

function stop(){
	clearInterval(timer);
	holdTime = Date.now() - startTime;
	holdTime /= 1000;
	holdTime = parseInt(holdTime);
}

function push_Keydown(event){
	let image = document.getElementById("img");
	let keyCode = event.key;

	if(keyCode == " "){//時間測定開始
		start();
	}

	if (Q_l == Q_l-Q_i){ 
		
		image.src = "../../static/image/" + Q[Q_No] + ".png"; //画像を出す

		document.getElementById("text").innerHTML = Q_mondai[Q_No];//問題を出す
		document.getElementById("start").innerHTML = Q[Q_No][Q_i]; //判定文字を出す

		}


	if (Q[Q_No].charAt(Q_i) == keyCode) { //押したキーが合っていたら

		Q_i++; //判定する文章に１足す

		document.getElementById("start").innerHTML = Q[Q_No][Q_i]; //問題を書き出す

		if (Q_l-Q_i === 0){ //全部正解したら
	
			Q_No += 1 //次の問題

			if (Q_No == Q_length){ //問題が全て終わったら
				stop();//時間を止める
				image.src = "../../static/image/happy.png";
				if	(holdTime.toString(10) < "10"){
					document.getElementById("result").innerHTML = "あなたのタイムは " + holdTime.toString(10) +" 秒";
					document.getElementById("text").innerHTML = "";
					document.getElementById("start").innerHTML = "あなたはフリック入力マスターです！！"
				} else {
					document.getElementById("result").innerHTML = "あなたのタイムは " + holdTime.toString(10) +" 秒";
					document.getElementById("text").innerHTML = "";
					document.getElementById("start").innerHTML = "あなたはフリック入力見習いです！！"
				}
			}

			Q_i = 0;//回答初期値・現在どこまで合っているか判定している文字番号
			Q_l = Q[Q_No].length;//計算用の文字の長さ

			image.src = "../../static/image/" + Q[Q_No] + ".png"; //画像を出す

			document.getElementById("text").innerHTML = Q_mondai[Q_No];//問題を出す
			document.getElementById("start").innerHTML = Q[Q_No][Q_i]; //新たな問題を書き出す

		}
	}
}

</script>

<body>

<center>

<p><img src="" id="img" /></p>

<br>
<br>

<p><textarea cols="50" rows="15"></textarea></p>

<h1 id="result" class="text"></h1>

<h1 id="text" class="text"></h1>

<h1 id="start" class="text">スペースを押して下さい</h1>

<form action="{% url 'index' %}" method="post">
	{% csrf_token %}
	<input type="image" src="{% static 'image/back.png' %}" name="start_button">
</form>


</center>

</body>
</html>