<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta name="viewport"
      content="width=320,
      height=480,
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=2.0,
      user-scalable=yes" />
    <meta charset="utf-8" />
    <title>スマホゲーム</title>
</head>

<body>
    <font size="3">
    <h1>スマホの使い方ゲーム</h1>
    <form action="{% url 'move_to_oputionpage' %}" method="post">
        {% csrf_token %}
        <input type="image" src="{% static 'image/opution.png' %}" name="opution_button">
    </form>

    <h2>スマホの使い方ゲーム</h2>
    <form action="{% url 'move_to_gamepage' %}" method="post" id="quiz">
        {% csrf_token %}
        <button type="submit" form="quiz">スマホクイズ</button>
    </form>

    <h2>フリック入力に挑戦</h2>
    <form action="{% url 'move_to_gamepage2' %}" method="post">
        {% csrf_token %}
        <input type="image" src="{% static 'image/start_button2.png' %}" name="start_button2">
    </form>

    <h2>アプリをインストールしてみよう</h2>
    <form action="{% url 'move_to_gamepage3' %}" method="post">
        {% csrf_token %}
        <input type="image" src="{% static 'image/start_button3.png' %}" name="start_button3">
    </form>
    
    <h4>文字サイズ変更</h4>
    <button type="button">+</button>
    <button type="button">-</button>
    </font>
</body>
</html>