<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta name="viewport"
    content="width=320,
      height=480,
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=2.0,
      user-scalable=yes" />
    <meta charset="utf-8" />
    <title>スマートフォンの使い方を学べるゲーム</title>
</head>

<body>
    <form action="{% url 'move_to_gamepage' %}" method="post">
        {% csrf_token %}
        <input type="image" src="{% static 'image/start_button.png' %}" name="start_button">
    </form>

    <form action="{% url 'move_to_gamepage2' %}" method="post">
        {% csrf_token %}
        <input type="image" src="{% static 'image/start_button2.png' %}" name="start_button2">
    </form>

    <form action="{% url 'move_to_gamepage3' %}" method="post">
        {% csrf_token %}
        <input type="image" src="{% static 'image/start_button3.png' %}" name="start_button3">
    </form>
</body>
</html>