<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/style.js"></script>
    <meta name="viewport"
      content="width=320,
      height=480,
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=2.0,
      user-scalable=yes" />
    <meta charset="utf-8" />
    <title>スマホゲーム</title>
</head>

<body>
    
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title header-title">
                <a href="teamproject3a/game/templates/game/index.html">
                    <img src="../../static/image/logo.png">
                </a>
            </h1>
            <form action="{% url 'move_to_optionpage' %}" method="post" id="option">
                <div style="text-align:right">
                    {% csrf_token %}
                    <input type="image" src="{% static 'image/option.png' %}" name="option_button">
                </div>
            </form>
        </div>
    </header>

    <div style="text-align : center">
        <h1>設定</h1>

        <br>
        <br>

        <h1>・</h1>
        <h1>・</h1>
        <h1>・</h1>
        <h1>・</h1>
        <h1>ヘルプ</h1>


    </div>
</body>
