<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <script src = "{% static 'js/style.js' %}"></script>
    <title>quiz1</title>
</head>


<body>

<form method="post" action="quiz2">

    <div style="text-align:center">

        <p>問題１</p>

        <div>
        <label><input type="radio" name="quiz" value="1"> 1</label>
        <label><input type="radio" name="quiz" value="0"> 2</label>
        <label><input type="radio" name="quiz" value="0"> 3</label>
        </div>

        <div>
            <input type="button" value="Check" id="checkButton">
        </div>

        <script>
            var quizradio = document.getElementsByName("quiz");

            function buttonClick(){
                if(quizradio.value == "1"){
                    count();
                }
                
                console.log(result());
            }

        </script>


        <form action="{% url 'move_to_quiz2' %}" method="post">
            {% csrf_token %}
            <input type="image" src="{% static 'image/next1.png' %}" name="next_button">
        </form>

    </div>

</form>

</body>

</html>