<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/style.css"/>
    <script src="../../static/js/style.js"></script>
    <title>quiz5</title>
</head>
<body>
    <div style="text-align:center">
        <h2>問題5</h2>
        <p>64GBの容量で写真は何枚撮れる？</p>
        <form action="{% url 'move_to_result' %}" method="post">
            <div>
                <input type="radio" name="answer" value="incorrect">1. 約3,000枚</input>
                <input type="radio" name="answer" value="correct">2. 約50,000枚</input>
                <input type="radio" name="answer" value="incorrect">3.約200,000枚</input>
            </div>
            <br>
            {% csrf_token %}
            <input type="image" src="{% static 'image/next1.png' %}" name="next_button">
        </form>
    </div>
</body>
</html>