<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/style.css"/>
    <script src="../../static/js/style.js"></script>
    <title>quiz2</title>
</head>
<body>
    <div style="text-align:center">
        <h2>問題2</h2>
        <p>2</p>
        <form action="{% url 'move_to_quiz3' %}" method="post">
            <input type="radio" name="answer" value="incorrect">1. </input>
            <input type="radio" name="answer" value="incorrect">2. </input>
            <input type="radio" name="answer" value="correct">3. </input>
            {% csrf_token %}
            <input type="image" src="{% static 'image/next1.png' %}" name="next_button">
        </form>
    </div>
</body>
</html>