<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/style.js"></script>
    <meta name="viewport"
      content="width=320,
      height=480,
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=2.0,
      user-scalable=yes" />
    <meta charset="utf-8" />
    <title>スマホゲーム</title>
</head>


<body>

    <header class="header">
        <div class="header__inner">
            <h1 class="header__title header-title">
                <a href="">
                    <img src="../../static/image/logo.png">
                </a>
            </h1>
            <form action="{% url 'move_to_optionpage' %}" method="post" id="option">
                <div style="text-align:right">
                    {% csrf_token %}
                    <input type="image" src="{% static 'image/option.png' %}" name="option_button">
                </div>
            </form>
        </div>
    </header>
    <h3>文字サイズ変更</h3>
    <button disabled>小</button>
    <button onclick="location.href='/'">中</button>
    <button onclick="location.href='/bigindex'">大</button>
        
    <div style="text-align:center">
        <h1 class="sample">めざせスマホマスター!!</h1>
        <hr>

        {% csrf_token %}
            <image src="{% static 'image/top.png' %}">

        <h2 class="sample2">スマホクイズに挑戦</h2>
        <form action="{% url 'move_to_gamepage' %}" method="post" id="quiz">
            {% csrf_token %}
            <input type="image" src="{% static 'image/start_button.png' %}" name="start_button">
        </form>
        <hr>

        <h2 class="sample2">フリック入力に挑戦</h2>
        <form action="{% url 'move_to_gamepage2' %}" method="post">
            {% csrf_token %}
            <input type="image" src="{% static 'image/start_button.png' %}" name="start_button">
        </form>
        <hr>

        <h2 class="sample2">カメラを使ってみよう</h2>
        <form action="{% url 'move_to_gamepage3' %}" method="post">
            {% csrf_token %}
            <input type="image" src="{% static 'image/start_button.png' %}" name="start_button">
        </form>

        
    </div>
    </font>
</body>
</html>