<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
        <script src="../../static/js/style.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <meta name="viewport"
      content="width=320,
      height=480,
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=2.0,
      user-scalable=yes" />
    <meta charset="utf-8" />
    <title>スマホゲーム</title>
</head>

<body>    
    
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <input type="image" src="../../static/image/logo.png" width="400px" height="200px">
                </form>
            </h1>

            <div class="box">

            </div>
        </div>
    </header>

    <audio autoplay controls loop>
        <source src="../../static/sound/BGM.mp3">
        あなたのブラウザーは <code>audio</code> 要素をサポートしていません。
    </audio>

    <font size=2>
    <h3 class="a">文字サイズ変更</h3>
    
    <button onclick="location.href='/smallindex'">小</button>
    <button disabled>中</button>
    <button onclick="location.href='/bigindex'">大</button>
        
    <div style="text-align:center">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <!-- スライドさせる画像の設定 -->
            {% csrf_token %}
            <div class="carousel-inner">
                <div class="carousel-item active" onclick="audio()">
                    <img src="{% static 'image/top.png' %}" alt="第1スライド" class="d-block w-100">
                </div><!-- /.carousel-item -->
                <audio id="btn_audio">
                    <source src="../../static/sound/sound.mp3" type="audio/mp3">
                </audio>
                <div class="carousel-item" onclick="audio()">
                    <img src="{% static 'image/sumaho.jpg' %}" alt="第2スライド" class="d-block w-100">
                </div><!-- /.carousel-item -->
                <div class="carousel-item">
                    <img src="{% static 'image/happy.png' %}" alt="第3スライド" class="d-block w-100">
                </div><!-- /.carousel-item -->
            </div><!-- /.carousel-inner -->
        </div><!-- /.carousel -->

        

        <hr>
        <div class="btn" onclick="audio()">
            <h2 class="sample2">スマホクイズに挑戦</h2>
        </div>
        <div class="btn" onclick="audio()">
            <form action="{% url 'move_to_gamepage' %}" method="post" id="quiz">
                {% csrf_token %}
                <input type="image" src="{% static 'image/start_button.png' %}" name="start_button">
            </form>
        </div>
            <audio id="btn_audio">
                <source src="../../static/sound/sound1.mp3" type="audio/mp3">
            </audio>
        <hr>

        <h2 class="sample2">フリック入力に挑戦</h2>
        <form action="{% url 'move_to_gamepage2' %}" method="post">
            {% csrf_token %}
            <input type="image" src="{% static 'image/start_button.png' %}" name="start_button">
        </form>
        <hr>

        <h2 class="sample2">マップを使ってみよう</h2>
        <form action="{% url 'move_to_gamepage3' %}" method="post">
            {% csrf_token %}
            <input type="image" src="{% static 'image/start_button.png' %}" name="start_button">
        </form>
    </div>
    </font>

    <footer class="footer">
    </footer>

</body>
</html>